/* theme for status.nest.land */

:root {
  --body-background-color: #111827;
  --body-text-color: #F3F4F6;
  --card-background-color: #1F2937;
  --nav-background-color: #1F2937;
  --nav-border-bottom-color: #6B7280;
  --nav-current-border-bottom-color: #A78BFA;
  --card-border-color: #6B7280;
  --down-border-left-color: #FB7185;
  --down-background-color: #9F1239;
  --degraded-border-left-color: #FBBF24;
  --up-border-left-color: #34D399;
  --tag-color: #1F2937;
  --tag-up-background-color: #34D399;
  --tag-down-background-color: #FB7185;
  --tag-degraded-background-color: #FBBF24;
  --change-background-color: #f7b731;
  --error-button-border-color: #6B7280;
  --error-button-background-color: #FB7185;
  --error-button-color: #1F2937;
  --submit-button-border-color: #6B7280;
  --submit-button-background-color: #3867d6;
  --submit-button-color: #1F2937;
  --graph-opacity: 1;
  --graph-filter: none;
}
